body{
  background-color: #ead3cb;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #845460;
  border-width:3px;
  width: 70%;
}
h1{
  color: #4b778d;
}
h2{
  color: #7b113a;
}
h3{
  color: #4b778d;
}
